!!!
%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'email.css'}
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %table#klarna-newsletter{:align => 'center'}
      %tbody
        %tr
          %td
            = image_tag 'https://cdn.klarna.com/public/images/SE/logos/v1/basic/SE_basic_logo_std_blue-black.png?width=180&height=48', width: 180, height:48
            - @posts.each do |post|
              %div.wrapper
                %div.header
                  = link_to post.title, post_url(post)
                  by #{post.user.full_name}
                %div
                  = sanitize post.body
        %tr
          %td
            If you want to send posts to the newsletter, please check the
            = link_to 'Howto', page_url('how_to')
            section.
