!!!
%html
  %head
    %title Newsletter | Klarna
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag
  %body
    = link_to 'https://github.com/damselem/newsletter' , :target => '_blank' do
      = image_tag 'https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png', :style => 'position: fixed; top: 0; right: 0; border: 0; z-index: 1031;', :alt => 'Fork me on GitHub'

    #header
      = render :partial => 'shared/header'
    #content.container
      = yield

    :javascript
      $(document).ready(function () {
        newsletter.init();
      });
