!!!
%html
  %head
    %title Newsletter | Klarna
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag
  %body
    #header
      = render :partial => 'shared/session_header'
    #content.container
      = render :partial => 'shared/notification'
      = yield
